* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, p, a, img {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #393939;
}

@media (max-width: 1024px) {
  html, body, p, a, img {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html, body, p, a, img {
    font-size: 11.7px;
  }
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-weight: bold;
}

h4 {
  text-transform: initial;
  font-family: "Roboto Slab";
  font-size: 1.05rem;
}

h5 {
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: -2.5rem;
  margin-top: 5rem;
}

@media (max-width: 1024px) {
  h5 {
    margin-bottom: -1rem;
  }
}

span {
  font-family: "Roboto Slab";
  font-weight: bold;
}

.menu_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_content .button_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5rem 1rem 1.5rem 1rem;
}

@media (max-width: 1024px) {
  .buttonWrapper {
    margin-top: 2rem;
  }
}

.buttonWrapper button {
  padding: 1.6rem;
  margin-right: 1rem;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  border: 1.5px solid #43a906;
  border-radius: 5px;
  border-bottom: 1.5px solid #fbfbfb;
  border-left: 1.5px solid #fbfbfb;
  background-color: rgba(67, 169, 6, 0.7);
  -webkit-box-shadow: 3px 3px 3px -3px rgba(155, 155, 155, 0.2);
          box-shadow: 3px 3px 3px -3px rgba(155, 155, 155, 0.2);
  color: white;
}

@media (max-width: 375px) {
  .buttonWrapper button {
    padding: 1rem;
  }
}

.buttonWrapper button:hover, .buttonWrapper button:active, .buttonWrapper button:focus {
  outline: none;
  font-weight: bold;
  border: 2.5px solid #d53555;
  background-color: #d53555;
  text-decoration: underline;
  color: white;
}

.content {
  border: 2px solid #fbfbfb;
  background-color: #fbfbfb;
  -webkit-box-shadow: 3px 3px 3px -3px rgba(155, 155, 155, 0.2);
          box-shadow: 3px 3px 3px -3px rgba(155, 155, 155, 0.2);
  margin-bottom: 5rem;
  font-family: "Open Sans";
  padding: 3rem 2rem;
}

@media (max-width: 375px) {
  .content {
    padding: 0.5rem;
  }
}

.additionWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 3rem;
  margin-bottom: 10rem;
}

@media (max-width: 400px) {
  .additionWrapper {
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}

.additionWrapper img {
  width: 100%;
}

.additionWrapper div {
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.2);
          box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.2);
  background-color: #fff;
}

.additionWrapper p {
  padding: 1rem;
}

.baseWrapper {
  -webkit-box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.4);
          box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.4);
  padding: 0.3rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.base {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

@media (max-width: 400px) {
  .base {
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}

.base img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20rem;
}

.characteristics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 7rem;
}

.characteristics p {
  padding: 0.5rem;
  border-bottom: 1.5px solid #c2bbbb;
}

.automaticSection, .doorSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin: 7rem 0;
  padding: 1rem;
  text-align: center;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 3px 2px 7px 0px rgba(72, 72, 72, 0.2);
          box-shadow: 3px 2px 7px 0px rgba(72, 72, 72, 0.2);
  background-color: #fff;
}

.automaticSection:hover p, .automaticSection:hover h4, .doorSection:hover p, .doorSection:hover h4 {
  color: #43a906;
}

.automaticSection div, .doorSection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.automaticSection h4, .doorSection h4 {
  font-size: 1.5rem;
}

.automaticSection p, .doorSection p {
  text-align: center;
}

.automaticSection img, .doorSection img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 375px) {
  .automaticSection img, .doorSection img {
    height: 10rem;
  }
}

.automaticSection .fa-hand-point-right, .doorSection .fa-hand-point-right {
  font-size: 3rem;
  color: #43a906;
}

@media (max-width: 819px) and (min-width: 751px) {
  .automaticSection .fa-hand-point-right, .doorSection .fa-hand-point-right {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

@media (max-width: 642px) {
  .automaticSection .fa-hand-point-right, .doorSection .fa-hand-point-right {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

.barrier .button_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.barrier .button_content button {
  margin-right: 0.4rem;
}

@media (max-width: 470px) {
  .barrier .button_content button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.barrier span {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.1rem;
}

.barrier .bravoFeatures, .barrier .anMotors, .barrier .barBarrier, .barrier .wideBarrier, .barrier .antivandalProtector {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(235, 235, 235, 0.7);
          box-shadow: 5px 5px 5px 5px rgba(235, 235, 235, 0.7);
  padding: 1rem;
  margin: 5rem 0;
}

.barrier .bravoFeatures img, .barrier .anMotors img, .barrier .barBarrier img, .barrier .wideBarrier img, .barrier .antivandalProtector img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20rem;
  border: 1px solid #e8e8e8;
}

.barrier .bravoFeatures p, .barrier .anMotors p, .barrier .barBarrier p, .barrier .wideBarrier p, .barrier .antivandalProtector p {
  margin: 2rem 0;
  text-align: justify;
}

.barrier .bravoFeatures li, .barrier .anMotors li, .barrier .barBarrier li, .barrier .wideBarrier li, .barrier .antivandalProtector li {
  text-align: left;
  padding-bottom: 1rem;
}

.barrier .bravoCharacteristics, .barrier .anMotorsCharacteristics, .barrier .barCharacteristics, .barrier .wideCharacteristics, .barrier .barrierProCharacteristics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barrier .bravoCharacteristics p, .barrier .anMotorsCharacteristics p, .barrier .barCharacteristics p, .barrier .wideCharacteristics p, .barrier .barrierProCharacteristics p {
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

@media (max-width: 375px) {
  .barrier .bravoCharacteristics p, .barrier .anMotorsCharacteristics p, .barrier .barCharacteristics p, .barrier .wideCharacteristics p, .barrier .barrierProCharacteristics p {
    border-bottom: none;
    padding: 0.3rem;
  }
}

.barrier .anMotorsCharacteristics {
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.barrier .barCharacteristics, .barrier .wideCharacteristics, .barrier .barrierProCharacteristics, .barrier .barrierProCharacteristics {
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10rem;
}

.barrier .plusesBarrier {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (min-width: 751px) and (max-width: 801px) {
  .barrier .plusesBarrier {
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

@media (min-width: 450px) and (max-width: 628px) {
  .barrier .plusesBarrier {
    -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

.barrier .plusesBarrier div {
  height: 15rem;
  border: 1.2px solid #b8b8b8;
  background-color: white;
}

.barrier .plusesBarrier div p {
  margin: 0 1rem;
  text-align: justify;
}

.barrier .plusesBarrier img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.barrier ul {
  list-style: none;
}

@media (max-width: 375px) {
  .barrier ul {
    padding-left: 0;
    margin-bottom: 5rem;
  }
}

.barrier .niceBarrier {
  margin: 5rem 0 7rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1%;
}

@media (min-width: 768px) and (max-width: 835px) {
  .barrier .niceBarrier img {
    width: 23rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .barrier .niceBarrier img {
    width: 20rem;
  }
}

.barrier img[alt='BARRIER-PRO'] {
  width: 25rem;
}

.barrier .barrierProCharacteristics, .barrier .barrierProCharacteristics {
  margin-bottom: 7rem;
}

@media (max-width: 650px) {
  .barrier .antivandalProtector {
    -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

.barrier .antivandalProtector img {
  width: 30rem;
}

@media (max-width: 950px) {
  .barrier .antivandalProtector img {
    width: 24rem;
  }
}

.barrier .antivandalProtector li {
  list-style-type: disc;
  padding-bottom: 1rem;
}

.barrier .carousel {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .barrier .carousel {
    max-width: 500px;
  }
}

@media (max-width: 530px) {
  .barrier .carousel {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .barrier .carousel {
    max-width: 300px;
  }
}

.barrier .carousel .carousel_item {
  height: 30rem;
  max-width: 94%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 5px 5px 5px rgba(72, 72, 72, 0.4);
          box-shadow: 5px 5px 5px rgba(72, 72, 72, 0.4);
}

@media (max-width: 530px) {
  .barrier .carousel .carousel_item {
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 430px) {
  .barrier .carousel .carousel_item {
    height: 20rem;
  }
}

.barrier .carousel .alice-carousel__prev-btn {
  text-align: center;
}
/*# sourceMappingURL=barrier.css.map */